@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
#gmcLogo{
    width: 250px;
}

.slidesCarrusel{
    height: calc(100vh - 74px);
    object-fit: cover;
}
@media all and (min-width: 768px) and (max-width: 991px){
    .slidesCarrusel{
    height: 300px;
    object-fit: cover;
}
}
@media all and (max-width: 767px){
    .slidesCarrusel{
    height: 300px;
    object-fit: cover;
}
}